@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Poppins&display=swap');
*, *::before, *::after{
    box-sizing: border-box;
}
body{ 
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: #f4f4f4;
    background-color: #5596e6;
}
.header{
    margin: 0 auto 2em;
    text-align: center;
    text-transform: uppercase;
    word-spacing: 0.2em;
    font-size: 1.7em;
    font-family: 'Bungee', cursive;
    color: #ddce8c;
    text-shadow: 2px 2px 3px #000000;
}
form{
    margin: 1em 0 2em 0;
    display: flex;
    .new{
        background-color: transparent;
        border: none;
        outline: none;
        font-size: 0.8em;
        order: 2;
        opacity: 0.7;
    }
    .btn{
        border: none;
        background: transparent;
        margin-left: 0.5em;
        font-weight: bolder;
        font-size: 1.1em;
        padding-left: 0.2em;
        cursor: pointer;
    }
}
.tasks{
    margin: 2.5em 0 3em 2.5em;
    .title{
        text-shadow: 2px 2px 3px #000000;
        margin: 1em 0.5em;
        word-spacing: 0.1em;
        color: #ffffff;
    }
    .task-lists{
        list-style: circle;
        margin-top: 2.5em;
        letter-spacing: 0.1em;
        font-size: 0.9em;
        padding: 0 0 0 2em;
        li{
            margin-bottom: 0.5em;
            cursor: pointer;
        }
        .active{
            font-weight: bold;
            text-shadow: 1px 1px 2px #2c2c2c;
        }
    }
    form{
        .new{
            border-bottom: 1px solid #f4f4f4;
            color: #f4f4f4;
        }
        ::placeholder{
            color: #cccccc;
        }
        .btn{
            color: #f4f4f4;
        }
    }
}
.todo-list{
    background-color: #f4f4f4;
    margin: 4em 2.5em 3em 2.5em;
    color: #333;
    border: 1px solid #333;
    .list-heading{
        padding: 0.7em 0 0 0.7em;
        margin: 0;
        margin-bottom: 1em;
        word-spacing: 0.1em;
        background-color: #e4e4e4;
        .title{
            margin: 0;
        }
        .count{
            margin: 0;
            color:#141414d5;
            font-size: 0.8em;
        }
    }
    .list-body{
        position: relative;
        margin-top: 2.5em;
        .task{
            font-size: 0.9em;
            margin-bottom: 1.5em;
            position: relative;
            label{
                display: inline-flex;
                cursor: pointer;
                position: relative;
                align-items: center;
                margin-left: 2.5em;
            }
            input[type=checkbox]{
                display: inline-block;
                margin-left: 0.8em;
                cursor: pointer;
                position: absolute;
                transform: scale(1);
                transition: transform 300ms ease-in-out;
            }
            input[type=checkbox]:checked + label{
                opacity: 0.5;
            }
        }
        .task::after{
            content: "";
            position: absolute;
            right: 0;
            left: 1em;
            bottom: -50%;
            height: 1px;
            background: #e4e4e4;
        }
        .task:hover input[type=checkbox]{
            transform: scale(1.2);
        }
        input[type=checkbox]:checked + label{
            font-weight: normal;
        }
        input[type=checkbox]:checked + label::after{
            content: "";
            right: 0;
            position: absolute;
            left: 0;
            background-color: #333;
            height: 1px;
        }
        .item-maker{
            margin-top: 3em;
            form{
                .new{
                    border-bottom: 1px solid #333;
                    color: #333;
                    margin-left: 0.6em;
                }
                ::placeholder{
                    color: #979696;
                }
                .btn{
                    color: #5596e6;
                }
            }
        }
    }
    .delete{
        display: flex;
        justify-content:center;
        left: 0;
        top: 14em;
        position: absolute;
        width: 100%;
        .delete-tl{
            border: none;
            background-color: transparent;
            color: #e4e4e4;
            font-size: 0.9em;
            transition: color 200ms;
            cursor: pointer;
        }
        .delete-tl:hover{
            color: #b32222;
            font-weight: bold;
        }
        .del-l{
            margin-left: 2em;
        }
    }
}

@media only screen and (min-width: 600px){
    .list-body{
        .item-maker{
            display: flex;
            justify-content: center;
        }
    }
    .todo-list .list-body .item-maker {
        margin-top: 2em;
    }
    .todo-list .list-heading{
        display: flex;
        justify-content: space-between;
        .count{
            font-size: 0.8em;
            padding: 0 1em 0 1em;
            margin-top: 0.5em;
        }
    }
}
@media only screen and (min-width: 900px){
    .header{
        font-size: 2em;
    }
    .container{
        width: 100%;
        display: flex;
        .todo-list{
            width: 70%;
            margin-top: 2.5em;
        }
    }
}
@media only screen and (min-width: 1024px){
    .header{
        font-size: 2.5em;
        margin-bottom: 0.7em;
    }
    .container {
        justify-content: space-around;
        .tasks{
            width:fit-content;
            .title{
                font-size: 2em;
            }
            .task-lists{
                font-size: 1em;
            }
        }
        .todo-list {
            width: 60%;
            .list-items{
                font-size: 1.2em;
            }
            .delete{
                top: 15em;
                .delete-tl{
                    font-size: 1.2em;
                }
            }
        } 
        ::placeholder{
            font-size: 1.2em;
        }
    }   
}
@media only screen and (min-width: 1399px){
    .header{
        margin-bottom: 1em;
    }
}